.container {
  display: flex;
  padding: 3rem 1rem;
  justify-content: space-around;
  background-color: #020221;
  color: white;
  height: 90vh;
}

.imgContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.infoContainer {
  flex: 1;
}

.foodInfo p {
  width: 75%;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b5b5b5;
  margin: 30px 0px;
  line-height: 1.5;
}

.foodInfo > p:nth-child(3) {
  color: yellow;
  font-size: 2rem;
  font-family: monospace;
}

.qtyContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qty {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin-right: 3rem;
}

.qty p {
  font-size: 2rem;
  margin: 0px 3rem;
  font-family: monospace;
}

.qtyContainer button {
  background-color: #ff0707;
  color: white;
  font-size: 1.2rem;
  margin: 2rem 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.foodInfo p {
  margin-bottom: 5px;
}

.size {
  display: flex;
  align-items: center;
}

.sizeContainer {
  margin-left: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sizeItem p {
  margin: 0px;
}

.sizeItem {
  font-size: 1.2rem;
  background-color: tomato;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}

.sizeItem:first-child {
  background-color: green;
}

.sizeItem:last-child {
  background-color: blue;
}

.sizeItem:hover {
  background-color: white;
  color: black;
}
