.container {
  display: flex;
  padding: 3rem 1rem;
  justify-content: space-around;
  background-color: #020221;
  color: white;
  flex-wrap: wrap;
}

.imgContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.infoContainer {
  flex: 1;
}

.foodInfo p {
  width: 75%;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b5b5b5;
  margin: 30px 0px;
  line-height: 1.5;
}

.foodInfo > p:nth-child(3) {
  color: yellow;
  font-size: 2rem;
  font-family: monospace;
}

.qtyContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.qty {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin-right: 3rem;
}

.qty p {
  font-size: 2rem;
  margin: 0px 3rem;
  font-family: monospace;
}

.qtyContainer button {
  background-color: #ff0707;
  color: white;
  font-size: 1.2rem;
  margin: 2rem 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.foodInfo p {
  margin-bottom: 5px;
}

.size {
  display: flex;
  align-items: center;
}

.sizeContainer {
  margin-left: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sizeItem p {
  margin: 0px;
}

.sizeItem {
  font-size: 1.2rem;
  background-color: tomato;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}

.sizeItem:first-child {
  background-color: green;
}

.sizeItem:last-child {
  background-color: blue;
}

.sizeItem:hover {
  background-color: white;
  color: black;
}

.addOnsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addOnItem {
  display: flex;
  align-items: center;
  margin-right: 1.2rem;
}

.extrasText {
  color: #b5b5b5;
}

@media screen and (max-width: 600px) {
  .infoContainer {
    text-align: center;
  }

  .foodInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foodInfo h1 {
    margin-bottom: 0;
  }

  .foodInfo p {
    font-size: 1.1rem;
    width: 100%;
  }

  .size {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .sizeItem {
    margin: 0px 5px;
  }

  .addOnItem {
    flex-direction: column;
  }

  .addOnsContainer {
    justify-content: space-around;
  }
  .addOnItem {
    margin-right: 0;
  }

  .addOnItem label {
    font-size: 0.9rem;
  }

  .qtyContainer {
    margin-top: 2.5rem;
    width: 100%;
    justify-content: center;
  }

  .qty {
    flex-direction: column-reverse;
  }

  .qty p {
    margin: 20px 0;
  }
}
