.container {
  height: calc(100vh - 70px);
  background-color: #000;
  overflow: hidden;
}

.wrapper {
  width: 400vw;
  height: 100%;
  display: flex;
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position: relative;
}

.arrow {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 2.5rem;
  z-index: 2;
  cursor: pointer;
  color: white;
}
