.container {
  width: 260px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  transition: 300ms;
  cursor: pointer;
  margin: 10px auto;
}

.container:hover {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
}

.description h3 {
  margin-top: -20px;
}
