.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00001b;
  min-height: 70px;
}

.logo {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 3rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number {
  color: #fff;
  font-weight: semibold;
  margin-right: 0.6rem;
}

.navitem {
  margin: 0 3rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}

.navitem:hover {
  color: #4e4e4e;
}
