.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  min-height: 70px;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

.logo {
  color: #fff;
  font-size: 3rem;
  margin-left: -1rem;
  font-family: "Lobster", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number {
  color: #fff;
  font-weight: semibold;
  margin-right: 0.6rem;
}

.navitem,
.num_container {
  margin: 0 3rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  transition: 300ms;
}

.navitem:hover {
  color: #000;
  cursor: pointer;
}

.navitem:last-child {
  display: flex;
  align-items: center;
  position: relative;
}

.item_count,
.item_countMbl {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 13px;
}

.navitemMbl {
  display: none;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: brown !important;
  color: white !important;
}

@media screen and (max-width: 600px) {
  .logo {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 50px;
  }

  .nav {
    display: none;
  }

  .logo {
    margin-left: 15px;
  }
  .logo a {
    font-size: 25px;
  }

  .navitemMbl {
    position: relative;
    display: block;

    cursor: pointer;
    margin-top: 10px;
  }
}

@media screen and (min-width: 992px) {
  .navitemMbl {
    display: none;
  }

  .logo {
    font-size: 2rem;
  }

  .navitem {
    justify-content: start;
  }

  .navitem,
  .num_container {
    margin: 0px 1.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .navitem,
  .num_container {
    margin: 0px 2rem;
    font-size: 1.2rem;
  }

  .logo {
    font-size: 2.5rem;
  }
}
