.special_title {
  text-align: center;
  margin-bottom: 4rem;
}

.special_title h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0;
}

.special_title p {
  width: 70%;
  margin: 10px auto;
  font-size: 1.2em;
}

.special_container {
  width: 90%;
  margin: 0 auto;
}

.swiper {
  height: 430px !important;
}

.swiper-container {
  width: 480px;
  margin: auto;
}

.soon_container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
