.special_title {
  text-align: center;
  margin-bottom: 4rem;
}

.special_title h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0;
}

.special_title p {
  width: 70%;
  margin: 10px auto;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.7);
}

.special_container {
  width: 90%;
  margin: 0 auto;
}

.swiper {
  height: 440px !important;
}

.swiper-container {
  width: 480px;
  margin: auto;
}

.soon_container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .swiper-container {
    width: 640px;
  }

  .special_title p {
    width: 90%;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
