.special_title {
  text-align: center;
  margin-bottom: 4rem;
}

.special_title h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0;
}

.special_title p {
  width: 70%;
  margin: 10px auto;
  font-size: 1.2em;
}

.special_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
